.webshop-inner {
  padding-top: 100px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.two-columns .image-container {
  grid-template-columns: repeat(2, 1fr);
}

.three-columns .image-container {
  grid-template-columns: repeat(3, 1fr);
}

.four-columns .image-container {
  grid-template-columns: repeat(4, 1fr);
}
